.se-employeeInfo {
    width: 75%;
    padding: 0 30px;
}

.se-employeeInfo .area {
    height: 87vh;
}

.se-employeeInfo__section {
    background-color: #161822;
    border-radius: 10px;
    color: #ffffff;
}
