.se-employeeInfo__main {
  min-height: 200px;
}

.se-employeeInfo__main .se-employeeInfo__section {
  min-width: 60%;
}

.se-employeeInfo__name {
    font-size: 33px;
    line-height: 1;
}

.se-employeeInfo__department {
    color: #9455FA;
}
